
.home-container{
	width: inherit;
	position: absolute;
	height: 20rem;
	margin-top: 1rem;
	margin-top: auto;
	height: fit-content;
	margin-top: 6rem;
}

.add-button{
	border: none;
	margin-left: 1.5rem;
	margin-top: 1.5rem;
	position: absolute;
}

.add-image:hover{
	cursor: pointer;
	width: 1.2rem;
	height: 1.2rem;

}

.add-image{
	width: 1rem;
	height: 1rem;
	margin-bottom: 5px;
}

#newlistText{
	font-size: .8rem;
	font-weight: 500;
	margin-left: 1rem;
}

.account-info{
	display: flex;
	float: right;
	margin-right: 2rem;
	margin-top: -1rem;
}

.account-image{
	width: 1.5rem;
	height: 1.5rem;
	margin-right: .5rem;
	margin-top: .1rem;
}

.account-name{
	float: right;
	margin-top: .1rem;
}

.createListPopup{
	margin-top: 4rem;
	display: none;
	margin-bottom: -50px;
}


.createListPopup > form > button{
	border-radius: .3rem;
}


.tasks-view{
	width: 96%;
	height: fit-content;
	margin-top: 5rem;
	padding-block-end: 1rem;
	margin-left: .5rem;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}




.tasks-view > form > select{
	margin-left: -3.5rem;
	border-top: none;
	border-right: none;

}

.tasks-view > form{
	margin-bottom: 1rem;
}

.tasks-view > form > button{
	margin-left: .5rem;
	border-radius: .2rem;
	border-width: .5px;

}


.task-input{
	border: none;


}

#task-input:focus{
	border-bottom-style: dashed;
	border-left: none;
	border-right: none;
	att
}



.tasks-container{
	width: 98%;
	height: 15rem;
	padding-block-end: 1rem;
	margin: auto;
	scrollbar-width: none;
	overflow-y: auto;

}

.tasks-container .task{
	margin-left: -5.2rem;
	border-bottom-style: solid;
	border-width: .2px;
	padding-block-start: 10px;



}

.tasks-container .text-div{
	overflow-x: auto;
}



/*confusing,,styles container the displays no todolist,,got tireed of renaming*/
.noTasks-container{
	margin-left: 1.5rem;
	margin-top: -1rem;
	height: 2rem;

}

.noTask-image{
	height: 10rem;
	margin-left: 2rem;
}


#noTasks_text{
  font-family: "Roboto Mono";
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1.1rem;
  font-style: normal;
  text-align: center;
}

/*no to do list end*/




/*styles no tasks container!!?*/
#addTasks_text{
	position: absolute;
	margin-top: 1rem;
	margin-left: 4rem;
	font-size: 1.3rem;
}

#emptyTask_image{
	width: 7rem;
	height: 7rem;
	position: absolute;
	margin-top: 4rem;
	margin-left: 7rem;
}

.taskEmpty-container{
	display: block;
}

/*no tasks end*/

.edits-container{
	margin-right: .6rem;
	margin-bottom: 6px;

}

.completed-checkBox{
	height: 2rem;
	width: 2rem;
	float: right;
	margin-left: .4rem;
	
}

.image{
	height: 1rem;
	width: 1rem;
}

.edit-button{
	border-radius: .2rem;
	border-width: .2px;
	cursor: pointer;
	padding-bottom: 5px;
	background-color: inherit;
	margin-left:12rem;



}

.del-button{
	border-radius: .2rem;
	border-width: .2px;
	cursor: pointer;
	padding-bottom: 5px;
	background-color: inherit;
	float: right;
	margin-left: .3rem;

}


.add-task-btn{
	margin-left: 18rem;
	margin-top: -19.5rem;
	margin-right: .5rem;
	border:none;



}

.addTask-image{
	width: 1rem;
	height: 1rem;
	margin-bottom: 5px;

}


.new-task-form{
	display: none;
}

.list-save-btn{
	float: left;
	margin-left: -2rem;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	border: none;
	cursor: pointer;
	border-radius: .4rem;
	position: fixed;
	margin-top: -1.5rem;
}

.list-save-btn:hover{
	background-color: lightgray;
}